body         {font-family: Helvetica, Verdana, Geneva, Arial, sans-serif;
              font-size: 13px;
              padding: 12px 8px;}

a.everblue, .nav a {color: blue;
                    text-decoration: none;}

.title       {width:100%;
              background-color:#CCC;
              padding: 6px 4px;
              margin: 4px 0;}

h1           {font-size: 135%; margin: 0;}
h2           {font-size: 120%;}
h3           {font-size: 110%; line-height: 1.25;}

.bigboard {width: 100%;}

.bigboard td {padding: 5px 2px;}
.bigboard td:first-child {width:170px;}
.bigboard td:nth-child(2) {width:25px;}
.bigboard tr {vertical-align: text-top;}
.bigboard tr:nth-child(odd) {background-color: #bbf;}
.bigboard a {text-decoration: none;}

.runinfo {margin: 12px 4px;
          line-height: 1.4;}

#pagesDiv, .nav {line-height: 1.4;
                 margin: 4px 4px;
                 width: 100%;}

.legend {font-style: italic;
         margin: 6px 4px;}
.legend img {margin-left: 8px;}

.indenttable {margin-left: 15px;
              border-width: 0px;
              padding: 0px;}
.indenttable td {border-width: 0px;
                 padding: 0px;}
.indenttable a {text-decoration:none;}
.indenttable h2 {margin: 0;}

.matrix {
    text-align: center;
    width: 100%;
    table-layout: fixed;
    margin-top: 20px;
}
.matrix td {
    padding: 0;
    height: 35px;
}
.matrix td:first-child {
    text-align: right;
    width: 130px;
    font-weight: bold;
    padding-right: 0.4em;
}

.matrix tr:first-child {
    font-weight: bold;
}

.matrix td.darkred {
    background-color:#7D1302;
}
.matrix td.orangered {
    background-color:#DA5F4C;
}
.matrix td.gold {
    background-color:#DADA4C;
}
.matrix td.green {
    background-color:#3B5D90;
}

.homeinfo{
    width: 1100px;
}

.description{
    width: 1100px;
}

.description table{
    margin: 30px 0;
}

.description table:first-child{
    margin-top: 60px;
}

.description td{
    padding: 5px 0px;
    vertical-align: top;
}

.description thead{
    font-weight: bold;
    font-size: 110%;
}

.description td:first-child{
    width: 130px;
    text-align: right;
    padding-right: 0.4em;
}

span.darkred {
    color:#7D1302;
}
span.orangered {
    color:#DA5F4C;
}
span.gold {
    color:#DADA4C;
}
span.green {
    color:#3B5D90;
}

a.celllink {
    width:100%;
    color:black;
    display:block;
    text-decoration: none;
}

/* style for floating stats window */

#statsWindow {border: solid #333399 1px;
              font-size: 90%;
              position:absolute;
              visibility:hidden;
              z-index:1000;}

#statsHeader {background: #333399;
              color: white;
              padding: 1px 3px;}

#statsBody   {background: #ccccff;
              color: black;
              padding: 1px 3px;}


.catalogList a {
    white-space: nowrap;
    display: inline-block;
    width: 120px;}
