<style>
  body         {font-family: Helvetica, Geneva, Arial, sans-serif;
                font-size: 12px;}
  #top         {background-color: #bbbbff;
                height: 24px;
                padding-top: 6px;}
  #dateRef     {font-size: 125%;
                font-weight: bold;
                margin-right: 20px;}
  #viewBuildsL {float: left;}
  #viewBuildsR {padding: 5px;
                float: left;}
  div.box      {width: 240px;
                border: 1px solid black;
                margin: 10px 0px;}
  div.boxtop   {border-bottom: 1px solid black;
                color: white;
                font-weight: bold;
                background-color: #333399;
                padding: 3px;}
  div.boxbody  {background-color: ffffcc;
                padding: 3px 3px 3px 13px;}
  a.everblue   {color: blue;
                text-decoration: none;
                cursor: pointer;}
</style>
