<style>
  body         {font-family: Helvetica, Geneva, Arial, sans-serif;
                font-size: 12px;}
  h1           {font-size: 125%;}
  h2           {font-size: 120%;}
  div.indented {margin-left: 15px;}
  table.indenttable {margin-left: 15px;
                     border-width: 0px;
                     padding: 0px;
                     font-family: Helvetica, Geneva, Arial, sans-serif;
                     font-size: 12px;}
  table.indenttable td {font-family: Helvetica, Geneva, Arial, sans-serif;
                        border-width: 0px;
                        padding: 0px;
                        font-size: 12px;}
  a:link {text-decoration:none;}
</style>
