<!DOCTYPE html>
<html>
<head>
<title>{{ siteTitle }}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<frameset rows="160px,*">
   <frame noresize="noresize" frameborder="0" src="?header=1" name="header">
   <frameset cols="50%,*">
      {% if test %}
      <frame src="?left=1&run={{ run }}&test={{ test }}{% if catalog %}#{{ catalog }}{% endif %}" name="leftframe">
      {% elif catalog %}
      <frame src="?left=1&run={{ run }}&catalog={{ catalog }}{% if test %}#{{ test }}{% endif %}" name="leftframe">
      {% endif %}
      <frame src="javascript:parent.blank()" name="rightframe">
   </frameset>
</frameset>
</html>
