<div id="statsWindow"><div id="statsHeader"></div><div id="statsBody"></div></div>
<div id="pagesDiv">
{% if page > 1 %}
<a class="everblue" href="?run=all&page={{ page-1 }}">&lt;&lt;</a>
{% else %}
<span style="color: gray">&lt;&lt;</span>
{% endif %}
&nbsp;|&nbsp;
{% if page < npages %}
<a class="everblue" href="?run=all&page={{ page+1 }}">&gt;&gt;</a>
{% else %}
<span style="color: gray">&gt;&gt;</span>
{% endif %}

{% for i in range(1,npages+1) %}
  {% if i==page %}
  <span style="color: gray">{{ i }}</span>
  {% else %}
  <a class="everblue" href="?run=all&page={{ i }}">{{ i }}</a>
  {% endif %}
{% endfor %}

</div>
<div class="legend">Legend:
  <img src="{{ static_dir }}/red.gif"/> Run did not successfully complete
  <img src="{{ static_dir }}/yellow.gif"/> Run completed but some tests have execution errors
  <img src="{{ static_dir }}/green.gif"/> All tests successfully completed (but may be skipped or may not pass the test)
</div>
<div>

{{ table }}

<table class="bigboard" border="0" width="100%" cellspacing="0">
</table>
</div>

<script src="{{ static_dir }}/statsWindow.js"></script>
<script>
statsWindowInit();
document.getElementById("pleasewait").style.display="none";
</script>

</body>
</html>
