<div class="homeinfo">
<h3>{{ general_info }}
<br><br>

<span style="color:red;">Apologies! We are in the process of revamping this front page!</span><br>
If you have ideas to contribute, please comment in <a class="everblue" href="https://github.com/LSSTDESC/descqa/issues/160">LSSTDESC/descqa#160"</a><br><br>

In the meantime, if you are looking for results from specific catalogs/tests,
you can use the search features in the <a class="everblue" href="?run=all">list of all runs</a>.
Here are a few examples:<br>
<ul>
<li><a class="everblue" href="?users=kovacs&catalogs=cosmoDC2_v1.1.4&run=all&months=6">cosmoDC2 v1.1.4 (for Run 2.1)</a></li>
<li><a class="everblue" href="?users=kovacs&catalogs=cosmoDC2_v1.0&run=all&months=6">cosmoDC2 v1.0 (for Run 2.0)</a></li>
<li><a class="everblue" href="?users=kovacs&catalogs=proto-dc2_v3.0&run=all&months=12">protoDC2 v3.0 (for Run 1.2)</a></li>
<li><a class="everblue" href="?users=kovacs&catalogs=proto-dc2_v2.1.2&run=all&months=12">protoDC2 v2.1.2 (for Run 1.1)</a></li>
</ul>
</h3>
<script>document.getElementById("pleasewait").style.display="none";</script>
</body>
</html>
