<base target="rightframe">
<a class="everblue" href="." target="_top">&lt; Back to home</a><br>
<a class="everblue" href="?run=all" name="top" target="_top">&lt; Back to "big table" (list of all runs)</a><br>
<a class="everblue" href="?run={{ run }}" target="_top">&lt; Back to "matrix" (for this run)</a>
<div class="title"><h1><a class="everblue" href="?run={{ run }}" target="_top">{{ run }}</a> ::
{{ title }}{% if is_group_by_catalog %} :: (Group by catalog){% endif %}</h1></div>
<br>
{% if group %}
  <table class="indenttable">
  <tr valign="top">
    <td>Tests completed:&nbsp;&nbsp;</td>
    <td>
    {% for item in group %}
      <a href="#{{ item.name }}" target="_self">{{ item.name }}</a>
      &nbsp;&nbsp;<br>
    {% endfor %}
    </td>
    <td>
    {% for item in group %}
       <span class="{{ item.status_color }}">{{ item.status }}</span>
       <br>
    {% endfor %}
    </td>
  </tr>
  </table>
  <br>
  {% if is_group_by_catalog %}
  {% else %}
    <table class="indenttable">
    <tr valign="top">
    {% if summary.files %}
    <td>
      <i>Summary outputs:</i><br>
        {% for f in summary.files %}
        &nbsp;&nbsp;<a href="?file={{ f.relpath }}" onclick='javascript:update_url("{{ f.relpath }}");'>{{ f.filename }}</a><br>
        {% endfor %}
      <br>
    </td>
    <td>
      {% for f in summary.files %}
        {% if f.is_png %}
          <a href="?file={{ f.relpath }}" onclick='javascript:update_url("{{ f.relpath }}");'><img src="data:image/png;base64,{{ f.data }}" width="100%"></a><br>
        {% endif %}
      {% endfor %}
    </td>
    {% endif %}
    </tr>
    </table>
    <br>
  {% endif %}

  {% for item in group %}

    <hr>
    <a name="{{ item.name }}"> </a>
    <table class="indenttable">
    <tr valign="top">
    <td>
        <h2>{{ item.name }}&nbsp;&nbsp;&nbsp;</h2>
    </td>
    <td>
        <span class="{{ item.status_color }}">{{ item.status }}</span>
        <br>{{ item.summary }}
    </td>
    </tr>
    </table>

    <table class="indenttable">
    <tr valign="top">
    <td style="padding-top:20px">

    {% if item.files %}
      <i>Outputs:</i><br>
        {% for f in item.files %}
        &nbsp;&nbsp;<a href="?file={{ f.relpath }}"  onclick='javascript:update_url("{{ f.relpath }}");'>{{ f.filename }}</a><br>
        {% endfor %}
      <br>
    {% endif %}

    </td>
    <td>
      {% for f in item.files %}
        {% if f.is_png %}
          <a href="?file={{ f.relpath }}"  onclick='javascript:update_url("{{ f.relpath }}");'><img src="data:image/png;base64,{{ f.data }}" width="100%"></a><br>
        {% endif %}
      {% endfor %}
    </td>
    </tr>
    </table>

    <br>
    <a href="#top" target="_self">Return to top</a>

  {% endfor %}

{% else %}
  <span class="darkred"><i><b>No tests were made</b></i></span>
{% endif %}
<script>
  document.getElementById("pleasewait").style.display="none";

  const update_url = function(file){
    top.history.replaceState( {} , "{{ siteTitle }}", "?run={{ run }}{% if test %}&test={{ test }}{% endif %}{% if catalog %}&catalog={{ catalog }}{% endif %}&right=" + file);
  }
</script>
</body>
</html>
