<div class="homeinfo">
<h3>{{ version_info }}</h3>
<h3>
The DESCQA framework executes validation tests on mock galaxy catalogs.
These tests and catalogs are contributed by LSST DESC collaborators.
See <a href="https://arxiv.org/abs/1709.09665" target="_blank">the DESCQA paper</a> for more information.
Full details about the catalogs and tests, and how to contribute, are available <a href="https://confluence.slac.stanford.edu/x/Z0uKDQ" target="_blank">here</a> (collaborators only).
The source code of DESCQA is hosted in <a href="https://github.com/LSSTDESC/descqa/" target="_blank">this GitHub repo</a>.
</h3>
<h3>
Below is a summary matrix of <a class="everblue" href="?run={{ run }}">Run {{ run }}</a>.
To view the results for an individual catalog, click one of the catalog names at the top of the table.
To view the results for an individual test, click one of the test names along the left of the table.
</h3>
<h3>
You can also view
<a class="everblue" href=".">the latest full run</a> and
<a class="everblue" href="?run=all">a list of all runs</a>.
</h3>
</div>
<br>

<div class="title"><h1><a class="everblue" href="?run={{ run }}">{{ run }}</a></h1></div>

<div class="runinfo">
{{ comment }}<br>
Run initiated by {{ user }} {{ start_time }}<br>
{% if time_used and time_used > 0 %}
This run took {{ time_used|round(1) }} minute(s). <br>
{% endif %}
{% if versions %}Versions used: {{ versions }}<br>{% endif %}
</div>

<div class="fliters">
{{ test_links }}
{{ catalog_links }}
</div>

<div style="width:{{ table_width }}">
<table class="matrix">
{{ matrix }}
</table>
</div>

<div class="description">
{{ validation_description }}
{{ catalog_description }}
</div>

<script>document.getElementById("pleasewait").style.display="none";</script>
</body>
</html>
