#buttonstable             {border-collapse: collapse}
#buttonstable .button1    {text-align: center;
                           width: 32px;
                           padding-bottom: 0px}
#buttonstable .buttontext {font-size: 11px;
                           font-family: verdana, helvetica;
                           line-height: 95%;
                           text-align: center}

a.everblue {color: blue;
            text-decoration: underline;
            cursor: pointer;}
td         {font-size: 11px; 
            font-family: verdana, helvetica; 
            text-decoration: none;
            vertical-align: top;}
td.desc    {width: 180px;
            border: thin solid #333333;
            padding: 3px;
            background: #eeee88;
            text-align: justify;}
td.entry   {width: 180px;
            margin-top: 5px;
            font-style: italic}
td.button2 {width: 16px; border}
