subclass_name: SizeStellarMassLuminosity.SizeStellarMassLuminosity

#observation: either protodc or buzzard
observation: twocomp

possible_mag_fields:
  - Mag_true_i_lsst_z0
  - Mag_true_i_sdss_z0
  - Mag_true_i_des_z0

mag_bin_separation: 1
  
output_filename_template: 'size_COSMOS_z_{}_{}.dat'

label_template: '${} < z < {}$'

data_filename: 'size/Mandelbaum2014_LumF814W_size_bulge_disk.txt'
data_label: 'Mandelbaum+2014: F814W comparing mean and scatter'

z_bins:
  - {z_min: 0.0, z_max: 0.5}
  - {z_min: 0.5, z_max: 1.0}
  - {z_min: 1.0, z_max: 1.5}

fig_xlabel: '$(L/L_{\odot})_{I}$'
fig_ylabel: '$\log_{10}(R_e)$ (kpc)'

fig_subplot_row: 1
fig_subplot_col: 3

description: |
  Compare evolution of bulge and disk sizes as a function of i-band magnitude of LSST and redshift and comparing to Mandelbaum et al (2015) HST COSMOS F814W observations
