{% include 'header.html' %}

<h3>
DESCQA uses galaxy catalogs and tests contributed by collaborators.
</h3>
<h1>Tests</h1>
<table width="100%">

{% for k,c in validation_configs %}
{% if loop.index % 2 == 1 %}
<tr style="background-color: #bbf">
{% else %}
<tr>
{% endif %}
<td width="30%">
{{ k  }}
</td>
<td>
{{ c.kwargs["description"] }}
</td>
</tr>
{% endfor %}
</table>

<br>
<h1>Catalogs</h1>
<table width="100%">

{% for k,c in catalog_configs %}
{% if loop.index % 2 == 1 %}
<tr style="background-color: #bbf">
{% else %}
<tr>
{% endif %}
<td width="30%">
{{ k  }}
</td>
<td>
{{ c.kwargs["description"] }}
</td>
</tr>
{% endfor %}
</table>


