<style>
  a.everblue     {color: blue;
                  text-decoration: none;
                  cursor: pointer;}

  h1             {font-size: 125%; margin: 10 0;}

  td             {font-size: 12px;
                  font-family: verdana, helvetica; 
                  text-decoration: none;}

  td.green       {background: #aaffaa;}
  td.white       {background: #ffffff;}
  td.blue        {background: #bbbbff;}

  div.clearBlock {clear: both;
                  line-height: 0;}

  #readmeDiv     {font-size: 10pt;}
  #titleDiv      {float: left;
                  line-height: 0;
                  margin-top: 3px;}
  #pagesDiv      {float: left;
                  font-size: 11pt;
                  font-weight: bold;
                  margin-top: 5px;}
  #menuDiv       {float: right;
                  margin-bottom: 5px;}

  /* style for floating stats window */

  #statsWindow {border: solid #333399 1px;
                font-family: Verana, Arial, Helvetica;
                font-size: 10px;
                position:absolute;
                visibility:hidden;
                z-index:1000;}

  #statsHeader {background: #333399;
                color: white;
                padding: 1px 3px;}

  #statsBody   {background: #ccccff;
                color: black;
                padding: 1px 3px;}

</style>
